.main{
    max-width: 1440px ;
    width: 84.34rem;
    box-sizing: border-box;

}

.writer .writer_cont{
    width: 768px;
    height: 282px;
    margin: 120px  auto;

}
.writer_cont .sohan img{
    width: 60px;
height: 60px;
object-fit:  cover;
border-radius:  50%;
}
.writer_cont .sohan{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 24px;

}

.writer_cont  .name h1{
    font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;

letter-spacing: -1px;


color: #592EA9;

opacity: 0.87;
}

.writer_cont  .sohan .name h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;

color: #6D6E76;
}
.writer_cont .step{
    font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* or 133% */

letter-spacing: -2px;

/* Black */

color: #232536;

}

.cat_log{
    display: flex;
    margin-top: 34px;
    flex-direction: row;

}

.cat-log img{
    width: 24px;
height: 24px;
}

.cat_log h1{
    font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
margin-bottom: 7px;
margin-top: 7px;



/* Black */

color: #232536;
}


.hero{
    width: 76.9rem;
height: 582px;
object-fit: cover;
margin-bottom: 64px;
margin-left: 3.5rem;
}
.story{
    margin: 0px 250px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.story .heading1,.heading3,.heading7{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    width: 843px;
height: 96px;
    
    letter-spacing: -2px;
    
    
    color: #232536;
}

.story .heading2,.heading4,.heading5 ,.heading6,.heading8{

font-family: 'Inter';
font-style: normal;
font-weight: 400;
width: 837px;
height: 112px;
font-size: 16px;
line-height: 28px;
margin-bottom: 30px;

color: #6D6E76;

}
.next_post{
    padding: 3.5rem;
    box-sizing: border-box;
}
.nex_read{
    display: flex;
    flex-direction: row;
    gap: 43px;
    margin-top: 64px;

}
.nex_read .post_cont{
    width: 405px;
    display: flex;
    flex-direction: column;
    gap: 16px;
height: 606px;
}
.nex_read .post_cont img{
    width: 385px;
    height: 280px;
    object-fit: cover;

}

.nex_read .post_cont h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Dark Grey */

color: #4C4C4C;


}
.nex_read .post_cont h2{
    font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
/* or 143% */

letter-spacing: -1px;

/* Black */

color: #232536;
}
.nex_read .post_cont h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


/* Black */

color: #232536;

opacity: 0.7;
}
.joineepart{
    text-align: center;
    margin-bottom: 140px;

}
.joineepart h1{
    font-family: 'Sen';
font-style: normal;
font-weight: 700;
margin: auto;
font-size: 36px;
line-height: 48px;

text-align: center;
letter-spacing: -2px;



width: 414px;
height: 96px;
color: #232536;
}
.joineepart h2{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
margin: auto;
margin-top: 16px;

text-align: center;
width: 405px;
height: 56px;


color: #6D6E76;
}
.joineepart button{
    background: #FFD050;
    width: 174px;
height: 56px;

outline: none;
margin-top: 32px;
border:  none;
}
.joineepart button h3{
    font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
margin: auto;

align-items: center;

color: #232536;
}
.ul_li li{
    list-style-type: circle;
}
@media screen and (max-width:450px) {
    .main{
        max-width: 1440px ;
        width: 44.34rem;
        box-sizing: border-box;
    
    }
    .writer .writer_cont{
        width: 38rem;
        height: 282px;
        margin: 120px  auto;
    
    }
    .hero{
        width: 38.9rem;
        height: 412px;
        object-fit: contain;
        margin-bottom: 64px;
        margin-left: 3rem;
    }
    .story .heading1,.heading3,.heading7{
        font-family: 'Sen';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        width: 39rem;
        height: 96px;
        letter-spacing: -2px;
        color: #232536;
    }
    .story .heading2,.heading4,.heading5 ,.heading6,.heading8{

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        width: 603px;
        height: 112px;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 60px;
        color: #6D6E76;
        
        }
        .next_post{
            padding: 3.5rem;
            width: 41rem;
            box-sizing: border-box;
        }
        .post_scroll::-webkit-scrollbar{
            width: 0px;
        }
        .story{
            margin: 1px 58px;
            gap: 16px;
            display: flex;
            flex-direction: column;
        }
        .post_scroll{
            width: 39rem;
            overflow: scroll;
        }
    
    
}